# {{ ansible_managed }}

server.port: {{ kibana_server_port }}
server.host: {{ kibana_server_host }}
elasticsearch.hosts: {{ elasticsearch_hosts }}
xpack.security.enabled: true
elasticsearch.username: {{ elastic_user }}
elasticsearch.password: {{ elastic_passw }}
