# {{ ansible_managed }}

server.port: 5601
server.host: "0.0.0.0"
#server.name: "elasticsearch-01.example.com"
elasticsearch.hosts: ["http://172.27.58.11:9200"]
xpack.security.enabled: true
elasticsearch.username: kibana
elasticsearch.password: KVS1lab!@#
